<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
    </configSections>

    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
                         peerAssemblyLoadingMode="Disabled">
        <discoverySpi type="TcpDiscoverySpi">
            <ipFinder type="TcpDiscoveryStaticIpFinder">
                <endpoints>
                    <string>127.0.0.1:47500</string>
                </endpoints>
            </ipFinder>
        </discoverySpi>
    </igniteConfiguration>

    <appSettings>
        <add key="Ignite.Assembly.1" value="Issue.GridGain.CannotFindDiagnosticSourceDll.Task.dll"/>
    </appSettings>
</configuration>
